<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Admin Dashboard</h1>
    <ul>
        <li><a href="/admin/components/add">Add New Component</a></li>
        <li><a href="/admin/components">View All Components</a></li>
    </ul>
</body>
</html>
