<html>
<head>
    <title>Component Details</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Component Details</h1>
    <div>
        <h3>Name: <%= component.name %></h3>
        <p>Use: <%= component.use %></p>
        <p>Technologies Used: <%= component.technologies %></p>
        <p>Tags: <%= component.tags.join(', ') %></p>
    </div>
</body>
</html>
